<!DOCTYPE html>
<html>
<head>
    <script src="js/handlebars.js"></script>
    <script src="js/helpers.js"></script>

    <script src="js/boleta/html2canvas.min.js"></script>
    <script src="js/boleta/compilador.js"></script>
    <script src="js/boleta/helpers.js"></script>
    <script src="js/boleta/funciones.js"></script>
    <script src="js/boleta/boleta.js"></script>

    <style id="styles"></style>
    <link href="css/boleta.css" rel="stylesheet"/>
</head>
<body id="boleta">
    <div class="body"></div>
</body>
</html>