<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/copias_certificado.css">
        <link rel="stylesheet" href="css/icons.css">

        <script type="application/javascript" src="js/jquery.min.js"></script>

        <script src="js/handlebars.js" ></script>
        <script src="js/zaguan.js" ></script>
        <script src="js/patio.js" ></script>
        <script src="js/eventos.js" ></script>

        <script src="js/helpers.js" ></script>
        <script src="js/popup.js" ></script>
        <script src="js/teclado/base.js" ></script>
        <script src="js/teclado/layouts.js" ></script>
        <script src="js/teclado/tiles.js" ></script>

        <script src="js/copias_certificado/ipc.js" ></script>
        <script src="js/copias_certificado/show_hide.js" ></script>
        <script src="js/copias_certificado/pantallas.js" ></script>
        <script src="js/copias_certificado/funciones.js" ></script>
    </head>
    <body>
        <div id="contenedor">
            <div id="contenedor_izq">
                <div id="encabezado"></div>
                <div class="clear"></div>
                <div class="barra-titulo">
                    <p id="_txt_encabezado_copias"></p>
                </div>
                <div id="contenedor_pantallas"></div>
            </div>
        </div>
        <div class="popup-box">
        </div>
        <div class="clear"></div>
        <div id="contenedor_opciones">
            <div class="completa" id="barra_opciones">
                <ul id="accesibilidad">
                    <li id="btn_menu">
                        <i class="material-icons boton-accion">&#xE5C4;</i>
                        <span><span class="barra-opciones-texto" id="_txt_volver_al_inicio">Volver Atrás</span></span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
