<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/prueba_equipo.css">
        <link rel="stylesheet" href="css/icons.css">

        <script type="application/javascript" src="js/jquery.min.js"></script>

        <script src="js/handlebars.js" ></script>
        <script src="js/zaguan.js" ></script>
        <script src="js/patio.js" ></script>
        <script src="js/eventos.js" ></script>

        <script src="js/helpers.js" ></script>
        <script src="js/popup.js" ></script>
        <script src="js/teclado/base.js" ></script>
        <script src="js/teclado/layouts.js" ></script>
        <script src="js/teclado/tiles.js" ></script>

        <script src="js/prueba_equipo/ipc.js" ></script>
        <script src="js/prueba_equipo/show_hide.js" ></script>
        <script src="js/prueba_equipo/pantallas.js" ></script>
        <script src="js/prueba_equipo/funciones.js" ></script>
        <script src="js/prueba_equipo/templates.js" ></script>
    </head>
    <body>
        <div id="contenedor">
            <div id="contenedor_izq">
                <div id="encabezado"></div>
                <div class="barra-titulo">
                    <p id="_txt_encabezado"></p>
                </div>
                <div id="contenedor_pantallas"></div>
            </div>
        </div>
        </div>
    </body>
</html>
