<div class="cdqc_pantalla_grabado_impresion">
	<h2 class="generacion_boletas_prueba-texto"></h2>
	<div class="generacion_boletas_prueba-container">
		<div class="generacion_boletas_prueba-container_text">
            <div class="generacion_boletas_prueba-circle_primario">
                <span class="generacion_boletas_prueba-numero_primario"></span>
            </div>
			<div class="generacion_boletas_prueba-grabar_chip"></div>
			<hr>
			<i class="check-chip"></i>
			<div class="alert-chip"></div>
			<div class="generacion_boletas_prueba-texto_chip"></div>
			<div class="generacion_boletas_prueba-circle_secundario">
                <span class="generacion_boletas_prueba-numero_secundario"></span>
            </div>
			<div class="generacion_boletas_prueba-imprimir_boleta"></div>
			<i class="check-imprimir"></i>
			<div class="alert-imprimir"></div>
			<div class="generacion_boletas_prueba-texto_imprimir_boleta"></div>
		</div>		
	</div>
	<button class="btn_repetir"></button>
	<button class="btn_continuar_pantalla"></button>
    <button class="btn_reiniciar"></button>
</div>