<div class="cdqc_pantalla_finalizacion_verificacion">
	<h2 class="generacion_boletas_prueba-texto"></h2>
    <div class="error_chip-alert"></div>
    <div class="generacion_boletas-ckeck"></div>
	<p class="generacion_boletas-texto_error_chip_leido"></p>
	<p class="generacion_boletas-texto_chip_leido"></p>
	<div class="btn-container">
		<div class="btn-row">
			<button class="btn_finalizar_modulo"></button>
			<button class="btn_repetir_prueba_verificacion"></button>
		</div>
		<div class="btn-row">
			<button class="btn_apagar_equipo"></button>
		</div>
	</div>
</div>