<div class="cdqc_pantalla_validacion_rfid">
	<h2 class="generacion_boletas_prueba-texto"></h2>
    <div class="prueba_equipo-container_verificar">
        <div class="prueba_equipo-container_verificar_img">
            <img class="generacion_boletas_prueba-img-verificar">
        </div>
        <div class="tooltip-verificar flecha-izq">
            <p class="mensaje_tooltip-verificar"></p>
        </div>
    </div>
	<p class="generacion_boletas-texto_desc_tiempo"></p>
	<p class="generacion_boletas-tiempo"></p>
</div>